* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1219px;
    padding: 0 55px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div[id] {
    scroll-margin-top: 90px;
}
